:root {
    --greyColor: #585858;
    --yellowColor: #FAD900;
    --whiteColor: #F8F8F8;
    --orangeColor: #EF5539;
    --blackColor: #000000;
    --headline: 'anton', sans-serif;
    --para: 'roboto';
}

* {
    padding: 0;
    margin: 0;
    border: border-box;
}

header {
    background-color: var(--blackColor);
    width: 100%;
    height: 100vh;
    position: relative;
    padding-top: 20px;
}

#nav-bar{
    width: auto;
    max-height: fit-content;
    overflow: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#nav-logo{
    max-width: 10vw;
    object-fit: contain;
}

.nav-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 40%;
    list-style: none;
}

.nav-links a{
    text-decoration: none;
    color: var(--greyColor);
    font-size: clamp(12px,2vw,32px);
}

.nav-links a:hover{
    text-decoration: underline;
}

#btn{
    background-color: var(--greyColor);
    color: var(--whiteColor);
    max-width:10vw;
    font-size: clamp(6px,2vw,12px);
    padding: 1%;
    border-radius: 25%;
    border: none;
    cursor: pointer;
}



.header-main{
    /* background-color: rebeccapurple; */
    display: flex;
    flex-direction: column;
}

#main-content{
    /* background-color: pink; */
    display: flex;
    justify-content: space-evenly;
    padding:8% 10% 0; /*This padding to center*/
}

#box1 {
    height: 5em;
    aspect-ratio: 1/1;
    background-color: var(--greyColor);
    border: 1px solid grey;
    position: absolute;
    transform: translate(-50%,-50%);
}

#box2 {
    height: 5em;
    aspect-ratio: 1/1;
    background-color: var(--orangeColor);
    border: 1px solid orangered;
    opacity: .8;
}

#side-note{
    height: 5em;
    max-width: 3em;
    font-size: clamp(6px,2vw,32px);
    color: var(--greyColor);
}

.header-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
}

.designs,.join{
    color: var(--whiteColor);
    /* max-width: px; */
    background-color: var(--greyColor);
    border: 1px solid grey;
    font-size: clamp(30px,6vw,100px);
    padding: 3%;
}

.designs{
    border-top-right-radius: 25%;
    border-bottom-right-radius:25% ;
}

.join{
    border-top-left-radius: 25%;
    border-bottom-left-radius: 25%;
}

@media screen and (max-width:500px) {
    .nav-links{
        display: none;
    }

    #nav-logo{
        max-width: 20vw;
    }

    #main-content{
        /* background-color: green; */
        display: flex;
        justify-content: space-evenly;
        padding:30% 10% 0; /*This padding to center*/
    }   

    #box1{
       height: 2.5em;     
    }

    #box2{
      height: 2.5em;  
    }

    #side-note{
        height: 2.5em;
    }
}

@media screen and (max-width:678px) {
    header{
        height: 60vh;
    }
}